/*
  Базовые стили — можешь менять как хочешь.
  Попробуй использовать Flexbox и/или Grid для layout.
*/

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.loaderWrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}